@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Didot';
  src: url('../../assets/fonts/Didot.otf') format('opentype');
}

@font-face {
  font-family: 'Epic';
  src: url('../../assets/fonts/epicpro.ttf') format('truetype');
}

@font-face {
  font-family: 'Astra';
  src: url('../../assets/fonts/Astra-6RGXq.otf') format('opentype');
}

@font-face {
  font-family: 'Opti';
  src: url('../../assets/fonts/OPTIUniversSixtySeven.otf') format('opentype');
}

